@import "tailwindcss";

.nav-link {
    @apply inline-block duration-200 hover:scale-110 px-4 py-2 md:px-0
}

@keyframes slide-in {
  from { transform: translateX(100%); }
  to   { transform: translateX(0%); }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
